<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login and registration form</title>
    <!--custom css file link-->
    <link rel="stylesheet" href="/static/css/home.css">
    <!--box icons link-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body style="background-image:url('/static/images/train1.png'); background-repeat: no-repeat; background-size: cover; ">
    <header class="header">
        <nav class="navbar"> 
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <div class="background"></div>
    <div class="container">
        <div class="content">
            <h2 class="logo"><i class="bx bxs-train"></i>Railway</h2>
            <div class="text-sci">
                <h2>Welcome!<br/><span>To our Railway Reservation website</span></h2>
                <p>this is a reservation website</p>
                <!--social media icons-->
                <div class="social-icons">
                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-instagram"></i></a>
                    <a href="#"><i class="bx bxl-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
<footer>
    <div class="footercontainer">
        <div class="socialIcons">
            <a href=""><i class="bx bxl-facebook"></i></a>
            <a href=""><i class="bx bxl-instagram"></i></a>
            <a href=""><i class="bx bxl-linkedin"></i></a>
            <a href=""><i class="bx bxl-twitter"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    <div class="footerBottom">
        <p>Copyright &copy;2024; Designed by <span class="designer">Amina & Mehek</span></p>
    </div>
</footer>
</body>
</html>